$body-bg :  #eee;
$canvas-bg: #fff;
$font1 : Arial, sans-serif;

body{
  background-color: $body-bg;
  font-family:$font1;
}

canvas {
  display: block;
  margin: 0 auto;
  margin: calc(50vh - 150px) auto 0;
  background: $canvas-bg;
  border-radius: 3px;
  box-shadow: 0px 0px 15px 3px #ccc;
  cursor:pointer;
}
p{
  text-align:center;
  cursor:pointer;
}