<style>
.formato input[type=text] {
    display: inline;
    width: 9rem;
    font-weight: bold;
    font-size: 1.1rem !important;
    text-align: center;
}
.formato{padding:0 2.3rem}
.formato .sec{
	text-align: left;
    margin-bottom: 0.8rem;
    font-size: 13px;
    font-family: Arial;
    line-height: 23px;
}
.formato .comprador{float:left;width:200px}
.formato .ing{float:right;width:239px}
table td{padding:0.7rem;text-align:center;font-family:Arial}

</style>
<div class="formato">
<section class="sec">
	<table style="width:100%;border-color:#000" border="1" cellspacing="0">
		<tr>
			<td><img style="width: 156px" src="https://industrailfumigaciones.com/capital/logo_formato.png" /></td>
			<td>
				<b style="text-align:center;display:block">
				ACTA DE ENTREGA DE INMUEBLE<br>
				CONJUNTO RESIDENCIAL<br>
				"#nproyecto"
				</b>
			</td>
			<td>#nproyecto</td>
		</tr>
		<tr>
			<td style="font-weight:bold;font-size:12px;text-align:left">FAE-001; VERSIÓN: 0.01 </td>
			<td style="font-weight:bold;font-size:12px;text-align:left">FECHA : #fecha</td>
			<td style="font-weight:bold;font-size:12px;text-align:left">Página 1 de 2</td>
		</tr>
	</table>
	<br><br>
</section>
<section class="sec">
	<b>Garantías</b><br>
	CONSTRUCTORA CAPITAL MEDELLÍN S.A.S. responderá por acabados según el Art. 938 del
	Código del Comercio y la Ley 1480 de 2011, y por vicios en la construcción de conformidad con
	el Art. 2060 del Código Civil y la Ley 1480 de 2011.
</section>
<section class="sec">
	A partir de la fecha de la entrega del apartamento CONSTRUCTORA CAPITAL MEDELLÍN S.A.S.
	garantiza por 10 años la estabilidad de la estructura, y por un año los acabados y demás
	elementos que no conforman la estructura, como son: daños en cerraduras y puertas,
	instalaciones eléctricas, pisos y enchapes en baldosín, manijas y cierres de ventanas, llaves de
	ducha, lavamanos, lavadero, lavaplatos, griferías del sanitario, goteras de losas, fisuras de muros
	y losas.
</section>
<section class="sec">
	La garantía en filetes de estuco, vidrios, espejos y aquellos elementos que se exponen
	abiertamente a los trasteos expira con la entrega del inmueble. 
</section>
<section class="sec">
	Las garantías deberán ser solicitadas por escrito en el formato de Solicitud de Postventa FSP-001
	que se encuentra anexo al Manual del Propietario, dirigido a CONSTRUCTORA CAPITAL
	MEDELLÍN S.A.S. a través del correo electrónico garantiasmedellin@constructoracapital.com,
	quien dispone del personal especializado para atención de reclamos. Cumplidos los anteriores
	requisitos, CONSTRUCTORA CAPITAL MEDELLÍN S.A.S. ordenará la respectiva revisión,
	constatará la existencia de la garantía, y si es el caso, procederá a realizar los arreglos respectivos
	en el menor tiempo posible.

</section>
<section class="sec">
	En caso de que CONSTRUCTORA CAPITAL MEDELLÍN S.A.S. haga efectiva una garantía en la que
	se deban sustituir materiales, éstos podrán ser remplazados por otros de igual o mejor calidad,
	no necesariamente idénticos, de acuerdo con la disponibilidad.
</section>
<section class="sec">
	No cuentan con ningún tipo de garantía averías por uso incorrecto, negligencias, modificaciones,
	alteraciones, desconexiones o reparaciones incorrectas hechas por el propietario o por terceras
	personas, o por no haber atendido las recomendaciones de mantenimiento y advertencias
	suministradas en el Manual de Propietario, por lo cual solicitamos leer detenidamente este
	documento.
</section>
<section class="sec">
	Se entrega en el municipio de #mun2
	a los #dias
	días del mes de #mes
	de #anio.
</section>
<section class="sec">
	<br>
	<div class="comprador">
		Firma:
		<img style="display:block" src="../../uploads/firmas/#firma1" />
		Comprador<br>
		C.C #ced
	</div>
	<div class="ing">
		Firma:
		<img style="display:block" src="../../uploads/firmas/#firma2" />
		#ing<br>
		Ingeniero(a)<br>
		Constructora Capital Medellín S.A.S.
	</div>
	<div class="clear"></div>
</section>
</div>