
body,html{height:100%;min-height:100%}
body{position:relative;font-family: 'Roboto', sans-serif;}
h1, h2, h3, h4, h5, h6, a, span, 
div, section, textarea, select, input{font-family: 'Roboto', sans-serif;color:color: #676363}
textarea, select, input{font-size:1.1em !important}
#flogin{
	padding: 2rem;
    box-sizing: border-box;
    max-width: 500px;
    margin: 10% auto;
    background: #fff;
    border-radius: 0.8rem;
    opacity: 0.85;
	position:relative;
	z-index:90000;
}
#flogin i.waves-effect.waves-light.btn.waves-input-wrapper{display:block}
#loginbtn{
	display:block;
	margin:0.3rem auto;
	display:block;
	width:100%;
	line-height:34px;
}
#opsa img,#flogin img{
	margin: 0 auto 1.5rem auto;
    display: block;
}
.card{
	height:300px;
}
.btn, .btn-large, .btn-small{background-color: #359bcc !important}
.btn.red, .btn-large.red, .btn-small.red{background-color: #ef7e75 !important}
.btn input[type=button]{color:#fff !important}
body,html{height:100%;min-height:100%}
#menum,#menum_ul{
	position: fixed;
    box-sizing: border-box;
    background: #9ea1a2;
    height: 2.4rem;
    padding: 0.4rem;
    /* border: none; */
    width: 100%;
    /* overflow: hidden; */
    top: 0;
    left: 0;
    z-index: 3500;
}
#menum_ul{
	top: 1.3rem;
    height: 100%;
    background: #949292;
	display:none;
}
#menum_ul li{}
#menum_ul li a{
	display: block;
    font-size: 1.4em;
    color: #fff;
    border-bottom: 1px solid #8c8888;
    padding: 0.3rem 0;
}
#closem{
	display:block;
	width:5rem;
	height:5rem;
	background:url(back.png) no-repeat;
	background-size:100%;
}
#menuicon{
	display: block;
    width: 1.5rem;
    height: 1.6rem;
    background: url(menu.png) no-repeat;
    background-size: 100%;
}
#menum li a{
	display: block;
    width: 100%;
    text-decoration: none;
    background: url(item.jpg);
    background-repeat: no-repeat;
    background-size: 6rem;
    height: 6rem;
    padding-left: 8rem;
    color: #000;
    font-size: 3rem;
    padding-top: 0.5rem;
    margin-bottom: 1.8rem;
}
#obraselect{
	font-size: 3rem;
    height: 8rem;
    display: block !important;
}
#selectobra{padding-left:12rem}
#settings{
	display: block;
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
    width: 6rem;
    height: 6rem;
}

[type="checkbox"]+span:not(.lever){font-size:1.2rem}

.container-c{text-align:center;box-sizing:border-box;padding:0.4rem}
.container-c h2{font-size: 1.6rem;font-weight: normal;text-transform:capitalize}
.container-c .btn{width:100%}
.container-c h3{font-size:1.4em;margin:0.7rem 0}
.proyecto-l{margin-bottom:1.4rem}
.proyecto-l.aptos{margin-bottom:0.35rem}
.proyecto-l img{width:15%}
.proyecto-l .detalles{
	color:#fff;
	background:#ccc;
}
.proyecto-l .pendiente{color:#ff0033}
.proyecto-l .aprobado{color:#67a4d6}
#menu{margin:0.7rem 0 0.7rem 0.7rem}
#menu img{width:2.3rem}

.proyecto-l.aptos .img, .proyecto-l.aptos h3{float:left;width:33.33%;display:block}
.proyecto-l.aptos .img.a{text-align:left}
.proyecto-l.aptos .img.b{text-align:right}
.proyecto-l.aptos img{width:30%}
.naprobados{background:#ffd9e0}
.aprobados{background:#ccffde}
.pendiente_e{background: #f9ebcc}
.clear{clear:both}
#btns-fixed{
	position:fixed;
	width:100%;
	bottom:0;
	left:0;
	z-index:2000;
	box-sizing:border-box;
}
#btns-fixed button{box-sizing:border-box;float:left;width: 33.3%}
.btn.ops{
	display: block;
    box-sizing: border-box;
    width: 71%;
    height: 5rem;
    font-size: 1.4rem !important;
    margin: 0 auto 1rem;
}
#opsa{padding:1rem}
#logologin{
    width: 150px;
	display: block;
    margin: 0 auto;
    padding: 2rem 0rem 2rem 0rem;
}
#flogin #logologin{padding:1rem 0rem 2rem 0rem}
#logologin2{
    margin-left: 9%;
    padding: 1rem;
    width: 57%;
}
.mayus{
    text-transform: uppercase;
}
.img-proyectos{
    width: 120px !important;
    height: 120px !important;
    border-radius: 50% !important;
    margin: 0 auto;
}
.pendiente{
    color: red !important;
}
.card-action{
    background-color: #359bcc !important;
    color: #fff !important;
}
.aprobado{
    color: #1790b2 !important;
}
@media(min-width: 300px) and (max-width: 750px){
    #logologin2{
        margin-left: 30% ;
        width: 50%;
    }
}
.nav-wrapper{
    background: #359bcc !important;
}
.cuadro{
    border-radius: 36px;
    margin: 0 0.8%;
    padding: 0 !important;
    width: 7% !important;
    margin-top: 0.6rem;
    background: #e7eaea;
	width: 41px !important;
    height: 41px;
}

.icono{

    width: 100%;
}
#secciones-apto{
	display: none;
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2000;
    box-sizing: border-box;
    padding: 0;
    background: #fff;
    min-height: 14rem;
}
#conf_proyecto,#btnseccion{display:none}
img#imgUpload2,img#imgUpload3{width:18%}
select{display:block !important}
p.piso{text-align:left !important}
.container.contpisos{
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
	width:100%;
}
#newcarac{
	width: 37%;
    float: right;
    margin-bottom: 1rem;
}
#savepisosxapto{
	/*position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2000;*/
}
.toogle_aptos{
	width:100%;
	border-radius: 0.4rem;
	border:1px solid #a0c4ce;
}
.toogle_tit{cursor:pointer}
.toogle_content,#step2,#step3{display:none}
#step3 table th,#step3 table td{border:1px solid #ccc;text-align:center}
#savetorres{
    position: absolute;
    width: 13%;
    right: 0;
    bottom: 22%;
}
#ntorres_c{position: relative}
.nomenc_container input {
    width: 48% !important;
    float: left;
}
input[type=number].nmargin{margin-right: 0.2rem}
.row .detalles{cursor:pointer}
h4 {font-size: 1.40rem !important}
.collapsible h4{cursor:pointer}
.collapsible.aptos h4, .collapsible.secs h4{padding:0.7rem;position:relative}
.collapsible img{margin-right:0.5rem;margin-top: 0.7rem}
.collapsible.secs .cright{text-align:left;width:100%}
.sec_state{text-align:left !important;float:left;/*margin:1.52rem 1rem .912rem 0.8rem*/}
.sec_state img{cursor:pointer;opacity:0.4}
.sec_state img.activo{opacity:1}
.cfotos{float: right;width: 30%;margin-top: 1rem}
.clist{}
.mk-spinner-wrap.loader{display:none}
#tablar table th{text-align:center}
#tablar table .tdhead{font-weight:bold;text-align: center}
.tddata, .tdata{text-align:center;position:relative}
#edit_reforma{
	font-family: 'Material Icons';
    width: 45px;
    height: 50px;
    float: right;
    /*display: none;*/
    font-size: 24px;
    color: #039be5;
	line-height:21px;
}
#edit_reforma img{width:100%}
.modal{width:80%}
#pics_general{border:1px solid #ccc;margin-bottom:1.3rem;position:relative}
#pics_general #camerag{width:17%;opacity: 0.8}
@media only screen and (min-width: 993px){
	.container {
		width: 85% !important;
	}
}

.collapsible-body{padding:0.5rem !important}
.scroll-imgs{
	width:100%;
	margin-top:0.7rem;
	box-sizing:border-box;
	height:6rem;
	overflow:auto;
}
a.tipolist{display:block;padding: 0.3rem;color:#fff}
div#tiposcont ul {margin-top: 0}
div#t35{float:left;width:28%;text-align:left}
div#t20{float:left;width:20%;text-align:left}
.tit_current{
	box-sizing: border-box;
    /* position: fixed; */
    width: 100%;
    padding: 0.5rem;
	text-transform:uppercase;
	background:#e7eaea;
	text-align:center;
}
.modal .modal-content{padding:0.6rem !important}
#btnseccion,#btnntipo,#btnstep2, 
#btncerrar, #close_paptos{
	width: 39%;
    margin: 0 auto 0.4rem auto;
    display: block !important;
}
#btn_actions{display:none;text-align:left}
.modal-proyectos{height:auto !important}
.modal-proyectos .modal-footer{display:none !important}
#crearseccion, #cancelsec, 
#btnfinish, #btnsaver, #editseccion{width:49%}
#editseccion,#editcaracs,#editipo{display:none}
h4, h5{font-size:1.3em !important;margin:0.4rem 0 !important}
.btn, .btn-large, .btn-small, .btn-floating, 
.btn-large, .btn-small, .btn-flat{font-size: 0.98em !important}
.btn, .btn-large, .btn-small, .btn-flat{
	height: 29px;
    line-height: 28px;
    padding: 0 14px;
}
.contpisos input{text-align:center !important}
.dropc{
	color: #FF0033;
    font-size: 0.93em;
}
.container.contpisos .row{margin-bottom:0 !important}
.collapsible-header{padding:0.2rem 0 0.2rem 0.5rem !important}
.delproyecto{
	display: block;
    color: #d26c81;
	display:none;
}
#addproj{display:none;max-width: 20rem;margin: 0 auto}
.sidenav li>a{
	height: 2.4rem;
    line-height: 30px;
    color: #fff;
    font-size: 1.15em;
}
ul.sidenav{
	padding-top: 2rem;
    background: #293233;
}
/*#proyectosContainer .card img{border-radius:50%}*/
.card .card-content {padding: 11px}
#proyectosContainer{
	max-width: 815px;
    margin: 0 auto;
}
#proyectosContainer .card .card-action{padding: 0.4rem}
.cright h4,.cright .input-field,
.cright h4,.cright .input-field,
.cright .camerac,.cright .sec_state{
	width:25%;
	float:left;
	box-sizing:border-box;
}
.cright .sec_state{width:13%;padding-left:1rem;padding-top: 2.2rem}
.cright .input-field{width: 44.5%}
.cright .camerac{position:relative;padding-left:1rem;width:12%}
.cont_imgs{
	position: absolute;
    background: #009cbc;
    padding: 0.2rem 0.4rem;
    border-radius: 50%;
    color: #fff;
    top: 2.6rem;
    right: 1rem;
    text-align: center;
	width: 29px;
    height: 28px;
	z-index:200;
	/*display:none;*/
}
#cont_imgsg{
	padding: 0.3rem 0.4rem;
    top: 50%;
    right: 39%;
}
.cright .camerac .camera{margin-top: 1.7rem;width: 3rem;opacity: 0.8}
.cright h4{font-size:1.1em !important;margin: 2rem 0 0 0 !important}
.thumb_imgs{display:none}
span.lastrev{margin-left:2rem}
.input-field.obsg{text-align:left}
#homescreen{
	position: fixed;
    background: #fff;
    z-index: 900000;
    width: 100%;
    height: 100%;
	top: 0;
    left: 0;
    box-sizing: border-box;
}
#homescreen img{
	width: 13rem;
	margin: 40% auto;
	display: block;
	-webkit-transition:all .2s ease-out;
    -o-transition:all .2s ease-out;
    -moz-transition:all .2s ease-out;
    -ms-transition:all .2s ease-out;
    transition:all .2s ease-out;
	opacity:0
}
.collapsible h4{font-size: 1.14em !important}
#hist2{display:none}
#hist2 .tit{
	background: #e5e9ea;
    padding: 0.3rem;
}
#hist2 li{border: 1px solid #ccc}
#hist2 table td{border: 1px solid #ccc;text-align:center}
h4 a.back{
	font-family: 'Material Icons';
    font-size: 1.5em;
    float: left;
}
h4.detalles span{display:block}
a.secprev{
	text-transform: capitalize;
    font-size: 1.5em;
    display: block;
    text-align: left;
    background: #3ea2d2;
    padding: 0 0 0 1rem;
    margin-bottom: 0.5rem;
	border-radius: 0.4rem;
}
a.secprev i{
	float: right;
    margin-top: 0.3rem;
	cursor:pointer;
}
.edit.material-icons{color: #039be5}
i.remove, i.delete{color: #ff0033;font-family: 'Material Icons';font-style:normal}
#preview_secs{
	display:none;
	text-align:left;
    /*border: 1px solid #ccc;*/
    padding: 0.2rem;
	margin-bottom:1rem;
	/*height: 10rem;
    overflow: auto;*/
}
.prev-cont span.cprev{display:block;padding-left:1.3rem}
#picker1, #picker2,#picker11, #picker22{width:30%;text-align:center}
#filtra{
	width: 20rem;
    display: block;
    margin: 0 auto;
}
#filtro_fechas,#filtro_fechas h4{margin-top:2rem !important}
#filtro_fechas{margin-bottom:1.5rem}
h2.nodata{
	font-weight: bold;
    color: #b1b2b3;
    padding-bottom: 2rem;
}
.tddata .lacamera{
	width: 3.8rem;
    display: block;
    margin: 0 auto;
}
h2.titmain{margin:0.5rem 0}
table#tablar td h3{font-size:1.23em !important}
.prev-cont a.secprev{font-size:1.3em}
.modal, .btn, 
.card, .card-action{border-radius: 0.5rem !important}
.card .card-image{padding-top:1rem}
.modal{max-width: 731px !important}
span.eltipo{display:block}
#tiposcont h3{
    background: #3ea2d2;
    /*padding: 0.5rem;*/
}
.noblue{background:none !important}
#tiposcont span h4{text-align:left;float:left}
#tiposcont span i{
	display: block;
    float: right;
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 1.5em;
}
i.edit{color: #039be5;font-family: 'Material Icons';font-style:normal}
span i.remove{color: #ff0033}
i.remove, i.delete, i.edit{float:right}
#frm_nproyecto{max-width:750px;margin:0 auto}
ul.incomplete li a{
	font-size: 1.35rem;
    font-weight: bold;
    display: block;
    padding-left: 1rem;
    background: #e8edef;
    margin: 0.4rem;
    border-radius: 0.5rem;
}
ul.incomplete i{
	font-style: normal;
    font-family: 'Material Icons';
    /* line-height: 0px; */
    color: #7b7f82;
	float:right;
	margin-right:1rem;
}
#modalp h4{text-align:center}
#cancel_config{float:right;margin-bottom:0.4rem;margin-right:1rem}
.secs li h3{width: 100%;text-align: left}
.secs li h3 i{margin:0}
#sdefault{
	text-align: left;
    display: block;
    margin: 1rem;
}
#sdefault_cont{
	display:none;
}
.cuadro span{
	font-family: 'Material Icons';
    font-size: 2.1rem;
	color:#383a3c;
}
.cuadro span:hover{color:#039be5}
#espaciod{margin-bottom: 1rem}
a.desistir{
	float: right;
    width: 8rem !important;
    margin-top: 9px;
    position: absolute;
    right: 1rem;
    top: -0.3rem;
    z-index: 1000;
    display: block;
}


@media screen and (max-width:1600px) {
	.cfotos{width:100%}
	.cfotos img.camera{width:12%}
}
@media screen and (max-width:1024px) {
    .modal {width: 90%}
}
@media screen and (max-width:800px){
	#savetorres{width:7rem}
}
@media screen and (max-width:600px) {
	.contpisos .row .col.s3{width:50% !important}
	#btnseccion, #btnntipo, #btnstep2, #btncerrar {width: 62%}
}
@media screen and (max-width:500px) {
	#cont_imgsg {right: 34%}
}
@media screen and (max-width:440px) {
	span.lastrev {
		display: block;
		margin: 0.3rem 0 0 0;
	}
}
@media screen and (max-width:430px) {
	.contpisos .row .col.s3{width:50% !important}
	#btnseccion, #btnntipo, #btnstep2, #btncerrar {width: 72%}
	#logologin2 {width: 63%}
	.btn.ops{width:95%}
}
@media screen and (max-width:340px) {
	.contpisos .row .col.s3{width:92% !important}
	#btnseccion, #btnntipo, #btnstep2, #btncerrar {width: 72%}
}
@media screen and (max-width:600px) {
	.cfotos img.camera{width:20%}
	img.lacamera{width:90% !important}
	.cfotos img.camera{width:25%}
	.cuadro{width:13% !important}
}
@media only screen and (max-width: 800px){
	.container {
		width: 97% !important
	}
}


/***************** CSS SPINNER ***********************/
*,:after,:before{
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}
.mk-spinner-wrap{
  min-height:100px;
  width:100%;
  position:relative
}
@-webkit-keyframes a{
  0%{
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg)
  }
  to{
    -webkit-transform:rotate(1turn);
    transform:rotate(1turn)
  }
}
@keyframes a{
  0%{
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg)
  }
  to{
    -webkit-transform:rotate(1turn);
    transform:rotate(1turn)
  }
}
.mk-spinner-ring{
  content:"";
  display:none;
  /*position:absolute;*/
  position:fixed;
  width:40px;
  height:40px;
  top:50%;
  margin-top:-25px;
  left:50%;
  margin-left:-25px;
  z-index:10000;
  border-radius:50%;
  border:4px solid #359bcc;
  border-left-color:transparent;
  background:#fff;
  -webkit-animation:a 0.5s infinite linear;
  animation:a 0.5s infinite linear
}


.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #00a3c2;
  border-radius: 50%;
  animation: lds-ring 1.0s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #00a3c2 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#inicio{
	background:url(img/bg-room.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
body#inicio::before {
    content:'';
	position: fixed;
    width: 100%;
    height: 100%;
    background: #bedfef;
    z-index: 9000;
    opacity: 0.75;
	top:0;
	left:0;
}
#flogin .col{float:none !important}
#flogin input{box-sizing:border-box;background:#eaeaea !important;margin:0.4rem 0 !important}
#flogin .input-field{margin:0 !important;padding:0 !important}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), 
textarea.materialize-textarea{padding:0.3rem !important;border-radius:0.4rem !important;box-sizing:border-box !important}
span.icon{font-family:'Material Icons';font-size: 2rem;margin-right: 1rem}
ul.dropdown-content{width:14rem !important}
ul#dropdown1{
	top: 64px !important;
    height: auto !important;
	background: #359bcc !important;
	padding-bottom: 0.7rem !important;
}
ul#dropdown1 li a{font-size:1rem !important;color: #fff;padding:0.4rem 0.6rem !important}
ul#dropdown1 li:hover{background: #2c8ab7 !important}
ul#dropdown1 li{min-height:34px !important}
.naprobados.desistido,.aprobados.desistido{background:#d8b63c}
#d_accion{display:none}
#d_accion .btn{margin-bottom: 0.4rem !important}
#d_accion #btnstep2{display:none !important}
#d_accion h4{text-align:center;margin-bottom: 2rem !important}

#select_tipo{display:none}
.naprobados_span,.aprobados_span,.pendiente_e_span{position:relative;display:block}
#step1 h4{text-align:center}
#cancel_tipo{display:none}
.tiposd .btn{
	float:left;
	width:49%;
	margin-bottom: 0.7rem;
}
.tiposd #savetipo{margin-right:1%}
#saveseccion{width:100%}
#tipos_container{/*height:11rem;overflow:auto*/}
#section_name{
	background: #3ea2d2;
    padding-left: 2rem;
    height: 2.3rem;
    line-height: 32px;
}
span.delreforma{
	font-family: 'Material Icons';
    color: #ff0033;
    font-size: 1.75rem;
    float: right;
    cursor: pointer;
}
#save_nreforma,#cancel_nreforma{width:49%}
#tablar section table{margin-bottom:1rem}
#edit_reformat{color:#039be5}
div.container{padding-top: 1rem}
#e_siguiente{margin:0 auto}
#e_siguiente,#form_entrega{display:none}
.formato input[type=text] {
    display: inline;
    width: 9rem;
    font-weight: bold;
    font-size: 1.1rem !important;
    text-align: center;
}
.formato .sec{
	text-align:left;
	margin-bottom:1.4rem;
}
.formato .comprador{float:left}
.formato .ing{float:right}
.formato canvas{
	display: block;
    background: #e7edf1;
    width: 100%;
}
#limpiar, #limpiar2{cursor:pointer}
#semail,#cancel_email{width:49%}
.modal .back{
	position: absolute;
    left: 1rem;
    top: 0.5rem;
}
#back1, #back2{display:none}
#dropdown2 li{background:#394546 !important}
#frm_buscar{position:relative}
span.lupa{
	font-family: 'Material Icons';
    display: block;
    font-size: 2em;
    color: #359bcc;
    position: absolute;
    width: 30px;
    height: 45px;
    right: 0;
    top: 0;
}
#frm_buscar .results{
	border: 1px solid #d6dadc;
    box-sizing: border-box;
    padding: 0.7rem;
    height: 16rem;
    overflow: auto;
    background: #fff;
    margin-bottom: 1rem;
	display:none;
}
#frm_buscar .results .card .card-image{float: left !important;width: 15% !important}
#frm_buscar .results .card .card-content{float: left !important;width: 84% !important}
#frm_buscar .results .card .card-content h3{font-size:1.3em !important}
#frm_buscar .results .card .card-action{
	margin-top: 0.3rem !important;
    padding: 0.3rem !important;
    text-align: center !important;
}
#frm_nproyecto label{
	display: block;
    text-align: left;
}
#clear1,#clear2{
	display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
#modal-firma1,#modal-firma2{width:500px !important}
.prev-cont{margin-top:1.4rem}
.prev-cont ul.collapsible{margin-top:0 !important}
.prev-cont ul.collapsible li{padding-left: 0.3rem}
a.tipolist.prevs{text-transform:uppercase}
.edit.material-icons.prev{color:#e9f0f3}
.prev-cont h3{background: #3ea2d2}
.sidenav{z-index:1100}
.proyectosContainer .row .card{cursor:pointer}
#sblank{display:none}
.checkhist{
	padding: 0.7rem;
    margin-bottom: 1rem;
    background: #f3e6d2;
    border-radius: 7px;
}
body.s_entregas{
	background-image: linear-gradient(11deg, #e2ecf0 25%, #f0f6fa 25%, #f0f6fa 50%, #e2ecf0 50%, #e2ecf0 75%, #f0f6fa 75%, #f0f6fa 100%);
	background-size: 209.63px 40.75px;
}
#ldesis{
	background: #ff0033;
    display: block;
    width: 10px;
    height: 10px;
    /* float: right; */
    position: absolute;
    top: 1rem;
    right: 2rem;
    border-radius: 30px;
	z-index: 2000;
}
#modal_desis span{
	display:block;
	margin-bottom:1rem;
	font-size:1.3em;
}
.obs_sec {
    display: block !important;
    width: 47% !important;
    float: left !important;
    margin-right: 2% !important;
}
#btn_ntorre{
	float: right;
    width: auto;
}
.secs_entrega .obs_secp,.secsrev.entregas .obs_secp{display:none !important}
.secs_entrega .obs_sec,.secsrev.entregas .obs_sec{width:100% !important}
.collapsible-header.sec_red{background: #ffdee5}
#secciones_cont li{position:relative !important}
.checkgen {
    position: absolute;
    right: 1rem;
    top: 0;
	z-index:3000;
}
.checkgen img{cursor:pointer}