<style>
.formato input[type=text] {
    display: inline;
    width: 9rem;
    font-weight: bold;
    font-size: 1.1rem !important;
    text-align: center;
}
.formato{padding:0 2.3rem}
.formato .sec{
	text-align: left;
    margin-bottom: 0.8rem;
    font-size: 13px;
    font-family: Arial;
    line-height: 23px;
}
.formato .comprador{float:left}
.formato .ing{float:right}
table td{padding:0.7rem;text-align:center;font-family:Arial}

</style>
<div class="formato">
<section class="sec">
	<table style="width:100%;border-color:#000" border="1" cellspacing="0">
		<tr>
			<td><img style="width: 156px" src="https://industrailfumigaciones.com/capital/logo_formato.png" /></td>
			<td>
				<b style="text-align:center;display:block">
				ACTA DE ENTREGA DE INMUEBLE<br>
				CONJUNTO RESIDENCIAL<br>
				"#nproyecto"
				</b>
			</td>
			<td>#nproyecto</td>
		</tr>
		<tr>
			<td style="font-weight:bold;font-size:12px;text-align:left">FAE-001; VERSIÓN: 0.01 </td>
			<td style="font-weight:bold;font-size:12px;text-align:left">FECHA : #fecha</td>
			<td style="font-weight:bold;font-size:12px;text-align:left">Página 1 de 2</td>
		</tr>
	</table>
	<br><br>
</section>
<section class="sec">
	El señor(a) <b>#propi</b> identificado(a) 
	con Cédula de Ciudadanía número <b>#ced</b>, 
	en calidad de 
	propietario(a) del inmueble No. <b>#apto</b> de la <b>#torre</b>, 
	parqueadero No. <b>#parqueadero</b> 
	y cuarto útil No. <b>#util</b>, del 
	Conjunto Residencial
	<b>#nproyecto</b>, ubicado en la dirección <b>#dir</b> del 
	municipio de <b>#mun</b>; después
	de haber inspeccionado los inmuebles y verificado el normal funcionamiento de 
	las redes
	internas y de las instalaciones, deja expresa constancia que se ha hecho 
	entrega real y material
	de los inmuebles
</section>
<section class="sec">
	Lectura inicial de medidores:<br>
	<div class="medidores">
		<span>Energía: #energiaKwh</span> 
		<span>Acueducto: #acueductom3</span> 
		<span>Gas: #gasm3</span>
	</div>
</section>
<section class="sec">
	El comprador declara haber recibido los inmuebles mencionados a 
	entera satisfacción, salvo lo
	indicado en el listado de observaciones, las cuales serán atendidas por 
	CONSTRUCTORA CAPITAL
	MEDELLÍN S.A.S. dentro de los 8 días hábiles siguientes a la entrega del 
	bien, a excepción de
	aquellos casos en que la disponibilidad de los materiales requiera un plazo 
	mayor.
</section>

<section class="sec">
	De acuerdo con la Ley 675 de 2001, con la entrega de los bienes privados se entregan los bienes
	comunes esenciales, tales como: el terreno sobre o bajo el cual existan construcciones o
	instalaciones de servicios públicos básicos, los cimientos, la estructura, las circulaciones
	indispensables para aprovechamiento de bienes privados, las instalaciones generales de
	servicios públicos, las fachadas y los techos o losas que sirven de cubiertas a cualquier nivel. 
</section>
<section class="sec">
	Con la firma de la presente acta, se da constancia que el comprador recibe un CD con el Manual
	del Propietario en el que se indican las instrucciones de buen uso, mantenimiento y garantías
	del inmueble; el Reglamento de Propiedad Horizontal; y los planos arquitectónicos,
	estructurales, eléctricos, hidrosanitarios y de gas del apartamento.
</section>
<section class="sec">
	Cualquier reforma interna o externa debe tramitarse ante las curadurías municipales o ante la
	oficina de Planeación Municipal.
</section>
</div>