<!--Nav-->
    <div class="navbar-fixed"><nav>
      <div class="nav-wrapper">
          <a href="#!" class="brand-logo"><img src="logo-nav.png" id="logologin2"/></a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="index.html">Inicio</a></li>
			<li><a class="dropdown-trigger" href="#" data-target="dropdown1">Proyectos</a></li>
			<li><a href="entregas.html">Entregas</a></li>
			<li><a href="historial.html">Historial</a></li>
			<li><a href="historial_e.html">Historial Entregas</a></li>
			<li><a href="javascript:void(0);" onclick="logOut();">Cerrar sesión</a></li>
          </ul>
      </div>
	  <div id="section_name"></div>
    </nav>
	</div>

    <ul id="dropdown1" class="dropdown-content">
	<li><a href="proyectos.html">Ver proyectos</a></li>
	<li class="itemadmin"><a href="proyecto_new.html">Añadir proyectos</a></li>
	<!-- <li><a href="matrices.html">Matrices de espacios</a></li> -->
	</ul>
	
    <ul id="dropdown2" class="dropdown-content">
	<li><a href="proyectos.html">Ver proyectos</a></li>
	<li class="itemadmin"><a href="proyecto_new.html">Añadir proyectos</a></li>
	<!-- <li><a href="matrices.html">Matrices de espacios</a></li> -->
	</ul>
	
	<ul class="sidenav" id="mobile-demo">
        <li><a href="index.html">Inicio</a></li>
		<li><a class="dropdown-trigger" href="#" data-target="dropdown2">Proyectos</a></li>
        <li class="itemadmin"><a href="proyecto_new.html">A&ntilde;adir Proyecto</a></li>
        <!-- <li><a href="matrices.html">Matrices de espacios</a></li> -->
		<li><a href="entregas.html">Entregas</a></li>
		<li><a href="historial.html">Historial</a></li>
		<li><a href="historial_e.html">Historial Entregas</a></li>
		<li><a href="javascript:void(0);" onclick="logOut();">Cerrar sesión</a></li>
    </ul>
<!--Fin Nav -->